.search-listing {
    margin-top: 1.5em;
}

.search-listing li {

    margin-bottom: 1.5em;

    h3 {
        font-size: 16px;
        a {
            color: #333;
            text-decoration: none;

            &:hover {
                color: #666;
            }
        }
    }

    .search-image-thumbnail {
        border-radius: 10px;
        position: relative;
        width: 90px;
        height: 90px;
    }

    .listing-excerpt {
        color: #999;
    }

    .search-result-type {
        font-size: 10px;
        font-weight: bold;
        display: inline-block;
        background-color: #007b5a;
        color: #fff;
        padding: 0.2em;
    }
}