{% extends 'base.html' %}
{% load pipeline static %}

{% block title %}MP Attendance{% endblock %}

{% block js_end_of_body %}
  {{ block.super }}
  <script type="text/javascript">
    var POSITION = '{{ position|escapejs }}';
  </script>
  {% javascript 'attendance-table' %}
{% endblock %}

{% block css_headers %}
  {{ block.super }}
  {% stylesheet 'datatables' %}
{% endblock %}

{% block body_attributes %} class="mp-attendance" {% endblock %}

{% block content %}
<h1 class="page-title">MP and Minister Attendance</h1>
<div class="major-column">
  <p>Bulk Member of Parliament Attendance Data is temporarily unavailable. Please contact us to be notified when this feature is back.</p>
</div>
{% endblock %}
