{% load speech_utils %}

{% comment %}

Arguments:

speechlist - an iterable containting all the speeches to show

section_url - the name of the url to use when linking to sections. Default is 'speeches:section-view'.

parent_title - boolean, whether to use the parent section's title, rather
than own (useful for Question display) (Default is false)

ifempty - a string shown if there are no speeches to show.
(Default is "No speeches found")

{% endcomment %}

<div class="row">
  {% for speech in speechlist|slice:":3" %}
    <div class="col-12">
        <div class="mp-item">
            <div class="mp-question w-inline-block">
                <div class="item-header">
                    <p class="item-title"><strong>
                            <a href="{% url 'speeches:section-view' speech.section.get_path %}#s{{ speech.id }}">
                                {% if parent_title %}
                                {{ speech.section.parent.title }}
                                {% else %}
                                {{ speech.section.title }}
                                {% endif %}
                            </a>
                        </strong>
                    </p>
                    <p class="item-date">
                        {{ speech.start_date }}
                    </p>
                </div>
                <p class="item-detail">
                    {{ speech.text|bleach|truncatewords_html:20 }}
                </p>
            </div>
        </div>
    </div>
  {% empty %}
  {% firstof ifempty "No speeches found" %}
  {% endfor %}
</div>
