{% extends 'core/person_base.html' %}
{% load pipeline %}

{% block js_end_of_body %}
{{ block.super }}
{% javascript 'tabs' %}
{% javascript 'person-messages-ajax' %}
{% endblock %}

{% block object_tagline %}
<div class="important-positions">
  {% if organizations_from_important_positions %}
  <h3 class="text-success">
    {% for o in organizations_from_important_positions %}
    <p class="mp-role">
      Member of the {{ o.name }}
    </p>
    {% if not forloop.last %}and{% endif %}
    {% endfor %}
  </h3>
  {% endif %}
  {% if organizations_from_former_important_positions %}
  <p class="mp-role">
    Formerly:
    {% for organisation in organizations_from_former_important_positions %}
     <span>
      {{ organisation.name }}
     </span>
    {% if not forloop.last %}and{% endif %}
    {% endfor %}
  </p>
  {% endif %}
</div>

<div>
  {% if person.is_current_member_of_national_assembly and email_contacts %}
  <a href="{% url 'writeinpublic-mps:writeinpublic-new-message' %}?person_id={{ person.pk }}"
    class="webf-button is--orange w-inline-block">
    <div class="button-icon">
      <div class="svg-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"
          data-prefix="fas" data-icon="pencil-alt" class="svg-inline--fa fa-pencil-alt fa-w-16" role="img"
          viewBox="0 0 512 512">
          <path fill="currentColor"
            d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z">
          </path>
        </svg></div>
    </div>
    <p>Write a public message to this politician</p>
  </a>
  <div class="mp-socials">
    <p class="mp-socials__title">
      {{ object.title }} {{ object.name }} on social media:
    </p>
    {% if twitter_contacts %}
    {% for twitter in twitter_contacts %}
    <a href="https://twitter.com/{{ twitter|cut:" @"|cut:" " }}" class="webf-button is--social is--twitter w-inline-block">
      <div class="button-icon">
        <div class="svg-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"
            data-prefix="fab" data-icon="twitter" class="svg-inline--fa fa-twitter fa-w-16" role="img"
            viewBox="0 0 512 512">
            <path fill="currentColor"
              d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
            </path>
          </svg></div>
      </div>
      <p>@{{ twitter|cut:"@"|cut:" " }}</p>
    </a>
    {% endfor %}
    {% endif %}

    {% if facebook_contacts %}
    {% for facebook in facebook_contacts %}
    <a href="{{ facebook }}" class="webf-button is--social is--facebook w-inline-block">
      <div class="button-icon">
        <div class="svg-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"
            data-prefix="fab" data-icon="facebook-square" class="svg-inline--fa fa-facebook-square fa-w-14" role="img"
            viewbox="0 0 448 512">
            <path fill="currentColor"
              d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z">
            </path>
          </svg></div>
      </div>
      <p>Facebook</p>
    </a>
    {% endfor %}
    {% endif %}

    {% if whoswhosa_contacts %}
    {% for whoswhosa in whoswhosa_contacts %}
    <a href="{{ whoswhosa }}" class="webf-button is--social is--whoswho w-inline-block">
      Who&rsquo;s Who
    </a>
    {% endfor %}
    {% endif %}

    {% if youtube_contacts %}
    {% for youtube in youtube_contacts %}
    <a href="{{ youtube }}" class="webf-button is--social is--youtube w-inline-block">
      <div class="button-icon">
        <div class="svg-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"
            data-prefix="fab" data-icon="youtube" class="svg-inline--fa fa-youtube fa-w-18" role="img"
            viewbox="0 0 576 512">
            <path fill="currentColor"
              d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
            </path>
          </svg></div>
      </div>
      <p>Youtube</p>
    </a>
    {% endfor %}
    {% endif %}

    {% if linkedin_contacts %}
    {% for linkedin in linkedin_contacts %}
    <a href="{{ linkedin }}" class="webf-button is--social is--linkedin w-inline-block">
      <div class="button-icon">
        <div class="svg-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"
            data-prefix="fab" data-icon="linkedin" class="svg-inline--fa fa-linkedin fa-w-14" role="img"
            viewbox="0 0 448 512">
            <path fill="currentColor"
              d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z">
            </path>
          </svg></div>
      </div>
      <p>LinkedIn</p>
    </a>
    {% endfor %}
    {% endif %}
  </div>
  {% endif %}
</div>
{% endblock object_tagline %}

{% block subcontent %}
<div class="mt-3">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="mp-col">
        <div>
          <div>
            <div class="mp-block">
              <h3 class="mp-block__title">Political party:</h3>
                {% for party in object.parties_and_coalitions %}
                  <a href="{{ party.get_absolute_url }}" {% for identifier in party.identifiers.all %}
                    data-identifier-{{ identifier.scheme }}="{{ identifier.identifier }}" {%endfor%}
                    class="text-link w-inline-block">
                    <p class="text-link__text">
                      {{ party.name }}
                    </p>
                    <div class="text-link__icon">
                      <div class="svg-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                          focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right"
                          class="svg-inline--fa fa-long-arrow-alt-right fa-w-14" role="img" viewBox="0 0 448 512">
                          <path fill="currentColor"
                            d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z">
                          </path>
                        </svg></div>
                    </div>
                  </a>
                {% empty %}
                {% if former_parties %}
                {% for party in former_parties %}
                  <a href="{{ party.get_absolute_url }}"
                    class="party-membership party-membership--{{ party.kind.name | slugify }}">{{ party.name }}</a></li>
                {% empty %}
                  <p class="no-data">Not associated with any political party</p>
                {% endfor %}
                {% else %}
                  <p class="no-data">Not associated with any political party</p>
                {% endif %}
                {% endfor %}
            </div>

            {% comment %}
            <!-- Temporary hide MP email addresses. -->
            {% if person.has_ever_been_member_of_nat_prov_legislature and email_contacts %}
            <h3 class="mp-block__title">Email</h3>
            <ul>
              {% for email in email_contacts %}
              <li class="email-address{{ email.1|yesno:" preferred," }}">{{ email.0|urlizetrunc:50 }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            {% endcomment %}

            <h3 class="mp-block__title">Constituency Offices</h3>
            {% for office in object.constituency_offices %}
              <a href="{{ office.get_absolute_url }}" class="text-link w-inline-block">
                <p class="text-link__text">{{ office.name }}</p>
                <div class="text-link__icon">
                  <div class="svg-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" class="svg-inline--fa fa-long-arrow-alt-right fa-w-14" role="img" viewBox="0 0 448 512">
                      <path fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"></path>
                    </svg></div>
                </div>
              </a>
              {% empty %}
              <p>Not associated with any constituency offices</p>
            {% endfor %}
            {% if phone_contacts %}
            <h3 class="mp-block__title">Contact Numbers:</h3>
              {% for phone in phone_contacts %}
              <a href="tel:{{ phone }}" class="text-link w-inline-block">
                <p class="text-link__text">{{ phone }}</p>
                <div class="text-link__icon">
                  <div class="svg-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="phone" class="svg-inline--fa fa-phone fa-w-16" role="img" viewBox="0 0 512 512">
                      <path fill="currentColor" d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"></path>
                    </svg></div>
                </div>
              </a>
              {% endfor %}
            {% endif %}

            {% if fax_contacts %}
            <h3 class="mp-block__title">Fax:</h3>
              {% for fax in fax_contacts %}
              <div class="text-link w-inline-block">
                <p class="text-link__text">{{ fax }}</p>
              </div>
              {% endfor %}
            {% endif %}

            {% if address_contacts %}
            <h3 class="mp-block__title">Address:</h3>
            <ul>
              {% for address in address_contacts %}
              <li>{{ address }}</li>
              {% endfor %}
            </ul>
            {% endif %}

            {% if object.aspirant_constituencies.count %}
            <h3 class="mp-block__title">Aspirant for:</h3>
            <ul class="aspirant-constituencies">
              {% for constituency in object.aspirant_constituencies %}
              <li><a href="{{ constituency.get_absolute_url }}">{{ constituency.name }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}

            {% regroup object.constituencies|dictsort:"kind" by kind as constituency_groups %}
            {% for entry in constituency_groups %}
            <h3 class="mp-block__title">{{ entry.grouper }}</h3>
              {% for area in entry.list %}
              <a {% for identifier in area.identifiers.all %} data-identifier-{{ identifier.scheme
              }}="{{ identifier.identifier }}" {%endfor%} href="{{ area.get_absolute_url }}" class="text-link w-inline-block">
                <p class="text-link__text">{{ area.name }}</p>
              </a>
              {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="mp-col">
        {% with past_positions=person.position_set.all.political.currently_inactive current_positions=person.position_set.all.political.currently_active %}
        {% block current_politician_positions %}
        <h3 class="mp-block__title">Current positions:</h3>
        {% if current_positions %}
        <div>
            {% for position in current_positions %}
                <div class="text-link">
                  <div class="text-link__info">
                    {% include "core/person_detail_position.html" %}
                    <p class="text-link__date">
                      {% if position.start_date %} since {{ position.start_date }}{% endif %}
                    </p>
                  </div>
                  <div class="text-link__icon">
                    <div class="svg-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" class="svg-inline--fa fa-long-arrow-alt-right fa-w-14" role="img" viewBox="0 0 448 512">
                        <path fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"></path>
                      </svg></div>
                  </div>
                </div>
            {% endfor %}
          </div>
          {% else %}
          <p>
            No current positions recorded.
          </p>
          {% endif %}
        {% endblock %}
        {% endwith %}
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="mp-col">
        {% with past_positions=person.position_set.all.political.currently_inactive current_positions=person.position_set.all.political.currently_active %}
        <div>
          <h3 class="mp-block__title">Former positions:</h3>
          {% block former_politician_positions %}
            {% if past_positions %}
            {% for position in past_positions %}
              <div class="text-link">
                <div class="text-link__info">
                  {% include "core/person_detail_position.html" %}
                  <p class="text-link__date">
                    {% if position.start_date %}
                      from {{ position.start_date }}
                    {% endif %}
                    until {{ position.end_date }}
                  </p>
                </div>
                <div class="text-link__icon">
                  <div class="svg-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" class="svg-inline--fa fa-long-arrow-alt-right fa-w-14" role="img" viewBox="0 0 448 512">
                      <path fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"></path>
                    </svg></div>
                </div>
              </div>
            {% endfor %}
            {% else %}
            <p>No former positions recorded.</p>
            {% endif %}
          {% endblock %}
        </div>
        {% endwith %}
      </div>
    </div>
  </div>
  <div>
    {% if person.has_ever_been_member_of_national_assembly %}
      <div id="ajax-link" style="display: none;">
        <a class="js-person-messages-ajax" href="#messages" data-ajax-url="{% url 'sa-person-write-all' person_slug=person.slug %}">Messages</a>
      </div>
      <h2 class="mp-subheading">Public messages sent to this politician</h2>
      <div id="messages">
        <p>Fetching the latest messages to {{ object.name }} …</p>
      </div>
    {% endif %}
  </div>
  <div>
    {% block plenary_appearances %}
    {% if hansard.count or question.count or committee.count %}
    <h2 class="mp-subheading">Politician Activity</h2>
    <div>
      {% if attendance %}
        {% if attendance == 'UNAVAILABLE' %}
          <div class="mb-3">
            <p>Attendance data is currently unavailable.</p>
          </div>
        {% else %}
          <div class="mb-3">
            <p class="category-title">Attendance of committee meetings:</p>
            <div class="row">
              {% for data in attendance %}
              <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                <div class="metric-top">
                  <div class="metric-item">
                    <p class="metric-title">
                      {{ data.year }} committee attendance as {{ data.position }}
                    </p>
                    {% if data.year == 2014 %}
                      <p class="metric-value">
                        (From the start of the Fifth Parliament)
                      </p>
                    {% endif %}
                    {% if data.position == 'minister/deputy' %}
                      <p class="metric-value">
                        Attended {{ data.attended }} meeting{{ data.attended|pluralize }}
                      </p>
                    {% else %}
                      <p class="metric-value is--title">
                        {{ data.percentage|floatformat:"0" }}% attendance rate ({{ data.attended }} of {{ data.total }} )
                      </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            <p class="mp-block__link">
              <a href="{% url 'info_page' slug='attendance-methodology' %}">
              Attendance Methodology
              </a>
            </p>
          </div>
      {% endif %}
      <p class="attendance__disclaimer">
        DISCLAIMER: This information has been obtained via the Parliamentary Monitoring
        Group. PMG makes every effort to compile reliable and comprehensive information, but does not claim that the data
        is 100% accurate and complete.
      </p>
      {% endif %}
    </div>
    <div class="mb-3">
      {% if latest_meetings_attended %}
      <p class="category-title">Recent meetings attended:</p>
      <div class="row">
        {% for meeting in latest_meetings_attended|slice:":4" %}
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="mp-item is--half">
            <div class="mp-meeting w-inline-block">
              <p class="item-title">
                {{ meeting.committee_name }}
              </p>
              <p class="item-detail">
                <a href="{{ meeting.url }}">
                  <span>
                    {{ meeting.title }}
                  </span>
                </a>
              </p>
              <p class="item-date">{{ meeting.date }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <p class="mp-block__link">
        <a href="{% url 'sa-person-attendance' person_slug=object.slug %}">
          See all meetings attended by this politician
        </a>
      </p>
      {% endif %}
    </div>
    <div id="appearances">
      <div class="row mb-3">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <p class="category-title">What they said in committee meetings:</p>
          <div id="accordion">
            <div class="info-block">
              <div id="committee-meetings-title" data-toggle="collapse" data-target="#committee-meetings" aria-expanded="true"
                aria-controls="committee-meetings">
                <div class="row">
                  <div class="col-8">
                    <p class="info-block__title">
                      What are committee meetings?
                    </p>
                  </div>
                  <div class="col-4">
                    <div class="float-right" style="width: 0.8rem; height: 0.8rem;">
                      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas"
                        data-icon="caret-down" class="svg-inline--fa fa-caret-down fa-w-10" role="img"
                        viewBox="0 0 320 512">
                        <path fill="currentColor"
                          d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z">
                        </path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
              <div id="committee-meetings" class="collapse" aria-labelledby="committee-meetings-title" data-parent="#committee-meetings">
                <div class="info-block__content">
                  Committee meetings are planned events where real-world impactful work happens such as law-making, oversight and public participation - which are all cornerstones of the work our MPs do. Although often citizens focus on the public debate taking place in main chambers, the majority of MPs' time is spent working within committees. Here is a place to see what your committee is saying.
                </div>
              </div>
            </div>
          </div>

          {% include "core/person_committee_meetings.html" with speechlist=committee ifempty='<div class="col-12"><div class="mp-question mb-3"><p>No appearances found</p></div></div>' %}

          {% if committee.count %}
          <p class="mp-block__link">
            <a href="{% url 'sa-person-appearance' person_slug=object.slug speech_tag='committee' %}">
              See all committee appearances by this politician
            </a>
          </p>
          {% endif %}
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <p class="category-title">Questions asked to ministers:</p>
          <div id="accordion">
            <div class="info-block">
              <div id="minister-questions-title" data-toggle="collapse" data-target="#questions-to-ministers" aria-expanded="true"
                aria-controls="questions-to-ministers">
                <div class="row">
                  <div class="col-8">
                    <p class="info-block__title">
                      What are questions asked to ministers?
                    </p>
                  </div>
                  <div class="col-4">
                    <div class="float-right" style="width: 0.8rem; height: 0.8rem;">
                      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas"
                        data-icon="caret-down" class="svg-inline--fa fa-caret-down fa-w-10" role="img"
                        viewBox="0 0 320 512">
                        <path fill="currentColor"
                          d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z">
                        </path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
              <div id="questions-to-ministers" class="collapse" aria-labelledby="minister-questions-title" data-parent="#questions-to-ministers">
                <div class="info-block__content">
                  Written questions and feedback are essential tools used by MPs for oversight and hold the executive accountable. This oversight mechanism allows MPs’ to extract detailed information that would normally be difficult to comprehend through oral engagement. You can see the questions that your MPs are asking here.
                </div>
              </div>
            </div>
          </div>

          {% include "core/person_committee_meetings.html" with speechlist=question parent_title=1 ifempty='<div class="col-12"><div class="mp-question mb-3"><p>No questions found</p></div></div>' %}

          {% if question.count %}
          <p class="mp-block__link">
            <a href="{% url 'sa-person-appearance' person_slug=object.slug speech_tag='question' %}">
              See all questions asked by this politician
            </a>
          </p>
          {% endif %}
        </div>
      </div>
      <section class="mp-row is--overline">
        <p class="category-title">Plenary appearances</p>
        <div id="accordion">
          <div class="info-block">
            <div id="headingOne" data-toggle="collapse" data-target="#plenary-apperances" aria-expanded="true"
              aria-controls="plenary-apperances">
              <div class="row">
                <div class="col-8">
                  <p class="info-block__title">
                    What are plenary appearances?
                  </p>
                </div>
                <div class="col-4">
                  <div class="float-right" style="width: 0.8rem; height: 0.8rem;">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas"
                      data-icon="caret-down" class="svg-inline--fa fa-caret-down fa-w-10" role="img"
                      viewBox="0 0 320 512">
                      <path fill="currentColor"
                        d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z">
                      </path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div id="plenary-apperances" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="info-block__content">
                Plenary sessions are forums that have been created for the purpose of public debate and decision-making. This mechanism is used to convey the messages of our MPs within main chambers on important decisions, like how they vote.
              </div>
            </div>
          </div>
        </div>
        {% include "core/person_speech_list.html" with speechlist=hansard ifempty='<div class="col-12"><div class="mp-question mb-3"><p>No appearances found</p></div></div>' %}

        {% if hansard.count %}
        <p class="mp-block__link">
          <a href="{% url 'sa-person-appearance' person_slug=object.slug speech_tag='hansard' %}">
            See all plenary appearances for this politician
          </a>
        </p>
        {% endif %}
      </section>
    </div>
    {% endif %}
    {% endblock %}
  </div>
  <div>
    {% if object.interests_register_entries.exists %}
    <h2 class="mp-subheading">Declaration of interests</h2>
    <div id="membersinterests">
      <div class="person-interests">
        <div id="accordion">
          <div class="info-block">
            <div id="headingOne" data-toggle="collapse" data-target="#declaration-of-interests" aria-expanded="true"
              aria-controls="declaration-of-interests">
              <div class="row">
                <div class="col-8">
                  <p class="info-block__title">
                    What are declaration of interests?
                  </p>
                </div>
                <div class="col-4">
                  <div class="float-right" style="width: 0.8rem; height: 0.8rem;">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas"
                      data-icon="caret-down" class="svg-inline--fa fa-caret-down fa-w-10" role="img"
                      viewBox="0 0 320 512">
                      <path fill="currentColor"
                        d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z">
                      </path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div id="declaration-of-interests" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="info-block__content">
                Annually, MPs are required by parliament to register their financial interests and gifts received in their official capacity. Due to the significant influence of the role that MPs take on, there may be times when their personal or business interests become in conflict with the duty prescribed to them as elected officials representing the public interest. You can see what interests your MPs declared here.
              </div>
            </div>
          </div>
        </div>
        {% for release, release_date in interests %}
          <div class="accordion">
            <div class="mp-interest-block">
              <div class="mp-year-collapse" data-toggle="collapse" data-target="#{{ release.release_year }}"
                aria-expanded="false" aria-controls="{{ release.release_year }}">
                <h3 class="category-title">
                  {{ release.release_year }}
                </h3>
                <p class="category-info">
                  {{ release.categories.items|length }} categories
                  {% for informationsource in release.informationsource %}
                  <a href="{{ informationsource.source }}" class="is--source" target="_blank"
                    title="{{ informationsource.note }}">
                    Source</a>
                  {% endfor %}
                </p>
                <div class="collapse-open is--year-collapse">
                  <div class="svg-icon is--small w-embed"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-down" class="svg-inline--fa fa-caret-down fa-w-10" role="img" viewbox="0 0 320 512">
                      <path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path>
                    </svg></div>
                </div>
              </div>
            </div>
            <div id="{{ release.release_year }}" class="collapse" aria-labelledby="{{ release.release_year }}"
              data-parent="#accordion">
              <div class="mp-interest-block">
                <div class="mp-year-contents">
                  <div class="mp-year-contents__inner">
                <div id="accordion" class="mb-4">
                  {% for ckey, category in release.categories.items %}
                  <div class="mp-collapse">
                    <div class="collapse-trigger" data-toggle="collapse" data-target="#{{ category.category_id }}"
                      aria-expanded="false" aria-controls="{{ category.category_id }}">
                      <div class="collapse-header">
                        <div class="container">
                          <div class="row">
                            <div class="col-lg-8 col-md-12 col-sm-12">
                              <p class="collapse-title">
                                {{ category.name }}
                              </p>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                              <div class="float-right">
                                <p class="collapse-info">
                                  {{ category.entries|length }} items
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="collapse-open">
                        <div class="svg-icon is--small w-embed"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                            focusable="false" data-prefix="fas" data-icon="caret-down"
                            class="svg-inline--fa fa-caret-down fa-w-10" role="img" viewbox="0 0 320 512">
                            <path fill="currentColor"
                              d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z">
                            </path>
                          </svg></div>
                      </div>
                    </div>

                    <div id="{{ category.category_id }}" class="collapse" aria-labelledby="{{ category.category_id }}"
                      data-parent="#accordion">
                      <div class="collapse-content">
                        <div class="mp-table">
                          <table>
                            <tr class="table-row is--header">
                              {% for heading in category.headings %}
                              <th class="col-text">{{ heading }}</th>
                              {% endfor %}
                            </tr>
                            {% for line in category.entries %}
                            <tr class="table-row">
                              {% for cell in line %}
                              <td class="col-text">
                                <p title="{{ cell }}">
                                  {{ cell }}
                                </p>
                              </td>
                              {% endfor %}
                            </tr>
                            {% endfor %}
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div> <!-- #accordion -->
              </div>
              </div>
              </div>
          </div>
          </div>
          {% endfor %}
      </div> <!-- .person-interests -->
    </div> <!-- .membersinterests -->
    {% endif %}
  </div>
  </div> <!-- tabs -->
{% endblock %}
