#ms_srv_wrapper {
  background-color: #444;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  padding: 10px;
  text-align: center;

  a {
    color: #eee;

    &:hover {
      color: #fff;
    }
  }
}

// ------------------------------------------------------

#logo {
  display: block;
  margin-left: 10px;
  float: left;
  height: 42px;
  text-indent: -999999em;
  width: 147px;
  background: url(../images/m-logo.png) 0 center no-repeat;
  @media only all and (min-width: 640px), print {
    position: absolute;
    left: 0;
    top: 10px;
    height: 34px;
    width: 418px;
    background: url(../images/d-logo.png) 0 center no-repeat;
    &.down {
      width: 600px;
      height: 50px;
      background: url(../images/down-logo.png) 0 center no-repeat;
    }
  }
}
