.m-sub-menu {
  @include list-reset-soft;
  background: $colour_muted;
  li {
    margin: 0 10px;
    border-top: 1px solid $colour_black;
    a {
      display: block;
      padding: 10px 0;
      &:hover {
        text-decoration: none; } } } }

#footer-menu {
  // by default show the sub entries. Hide if the screen is big in which
  // case the menu at the top will be shown instead.
  li > ul {
    @media only all and (min-width: 640px), print {
      display: none;
    }

    margin-left: 1em;

    li {
      display: inline;
      font-size: 90%;
      padding-right: 1em;
    }
  }
}
