{% load staticfiles %}
<div class="dropdown">
  <a class="subnav-link w-inline-block">
    <div class="nav-link__inner">
      <p class="nav-link__text">Find my representatives</p>
      <p class="nav-link__description">
        Find those who have been elected to represent you in government
      </p>
    </div>
    <div class="nav-link__icon">
      <div class="svg-icon is--small w-embed">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas"
          data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-w-10" role="img" viewBox="0 0 320 512">
          <path fill="currentColor"
            d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z">
          </path>
        </svg>
      </div>
    </div>
    <div class="nav-link__bg" style="background-color: rgba(255, 255, 255, 0);"></div>
  </a>
  <div class="dropdown-content-nav">
    <div class="container is--dropdown">
      <div class="dropdown-col is--feature">
        <div class="dropdown__feature-block">
          <p class="dropdown__feature-text">
            Find those who have been elected to represent you in government
          </p>
        </div>
        <div class="dropdown__feature-button">
          <a href="/search/location/" class="dropdown-link is--feature w-inline-block">
            <p style="width: 100%;">
              Use my location
            </p>
          </a>
        </div>
      </div>
      <div class="dropdown-col is--1">
        <p class="dropdown-heading">Find representatives</p>
        <a href="/position/member/parliament/" class="dropdown-link w-inline-block">
          <p>Find by name</p>
        </a>
        <a href="/committees/" class="dropdown-link w-inline-block">
          <p>Find by committee</p>
        </a>
        <a href="/search/?section=persons" class="dropdown-link w-inline-block">
          <p>Search for MPs and MPLs</p>
        </a>
      </div>
      <div class="dropdown-col">
        <p class="dropdown-heading">Legislatures</p>
        <a href="/organisation/is/parliament/" class="dropdown-link w-inline-block">
          <p>National Parliament</p>
        </a>
        <div class="dropdown__indent-list">
          <a href="/organisation/national-assembly/" class="dropdown-link w-inline-block">
            <p>National Assembly</p>
          </a>
          <a href="/organisation/ncop/" class="dropdown-link w-inline-block">
            <p>National Council of Provinces</p>
          </a>
        </div>
        <a href="/place/is/province/" class="dropdown-link w-inline-block">
          <p>Provincial Legislatures</p>
        </a>
      </div>
      <div class="dropdown-col is--3">
        <p class="dropdown-heading">Browse by province</p>
        <a href="/place/eastern-cape/" class="dropdown-link w-inline-block">
          <p>Eastern Cape</p>
        </a>
        <a href="/place/free-state/" class="dropdown-link w-inline-block">
          <p>Free State</p>
        </a>
        <a href="/place/gauteng/" class="dropdown-link w-inline-block">
          <p>Gauteng</p>
        </a>
        <a href="/place/kwazulu-natal/" class="dropdown-link w-inline-block">
          <p>Kwazulu-Natal</p>
        </a>
        <a href="/place/limpopo/" class="dropdown-link w-inline-block">
          <p>Limpopo</p>
        </a>
        <a href="/place/mpumalanga/" class="dropdown-link w-inline-block">
          <p>Mpumalanga</p>
        </a>
        <a href="/place/northern-cape/" class="dropdown-link w-inline-block">
          <p>Northern Cape</p>
        </a>
        <a href="/place/northern-west/" class="dropdown-link w-inline-block">
          <p>North West</p>
        </a>
        <a href="/place/western-cape/" class="dropdown-link w-inline-block">
          <p>Western Cape</p>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="dropdown">
  <a class="subnav-link w-inline-block">
    <div class="nav-link__inner">
      <p class="nav-link__text">MP Performance</p>
      <p class="nav-link__description">
        Follow the activities of representatives and hold them accountable
      </p>
    </div>
    <div class="nav-link__icon">
      <div class="svg-icon is--small w-embed">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas"
          data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-w-10" role="img" viewBox="0 0 320 512">
          <path fill="currentColor"
            d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z">
          </path>
        </svg>
      </div>
    </div>
    <div class="nav-link__bg" style="background-color: rgba(255, 255, 255, 0);"></div>
  </a>
  <div class="dropdown-content-nav">
    <div class="container is--dropdown">
      <div class="dropdown-col is--feature is--hidden-mobile">
        <div class="dropdown__feature-block">
          <p class="dropdown__feature-text">
            Follow the activities of representatives and hold them accountable
          </p>
        </div>
      </div>
      <div class="dropdown-col is--1">
        <p class="dropdown-heading">Activities & Performance</p>
        <div class="dropdown-link__wrapper text-wrapper">
          <div>
            <a target="_blank" href="https://pmg.org.za/question_replies/" class="dropdown-link w-inline-block">
              <p>Questions to ministers</p>
            </a>
          </div>
          <span>
            <a href="#" class="dropdown-link__info w-inline-block">
              <div class="svg-icon w-embed svg-small">
                <img src="{% static 'images/navbar/external-link-alt-solid.svg' %}" loading="lazy"
                  alt="pmg external link icon" class="nav__logo-img">
              </div>
            </a>
          </span>
        </div>
        <div class="dropdown-link__wrapper text-wrapper">
          <div>
            <a target="_blank" href="https://pmg.org.za/committees/" class="dropdown-link w-inline-block">
              <p>Parliamentary committees</p>
            </a>
          </div>
          <div>
            <a href="#" class="dropdown-link__info w-inline-block">
              <div class="svg-icon w-embed svg-small">
                <img src="{% static 'images/navbar/external-link-alt-solid.svg' %}" loading="lazy"
                  alt="pmg external link icon" class="nav__logo-img">
              </div>
            </a>
          </div>
        </div>
        <div class="dropdown-link__wrapper text-wrapper">
          <div>
            <a href="/blog/category/mp-corner" class="dropdown-link w-inline-block">
              <p>MP Corner</p>
            </a>
          </div>
          <div>
            <a href="#" class="dropdown-link__info w-inline-block">
              <div class="svg-icon w-embed" data-toggle="tooltip" data-placement="top"
                title="Find out how these MPs got into politics and what their message is for you.">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas"
                  data-icon="info-circle" class="svg-inline--fa fa-info-circle fa-w-16" role="img"
                  viewBox="0 0 512 512">
                  <path fill="currentColor"
                    d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z">
                  </path>
                </svg>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="dropdown-col">
        <p class="dropdown-heading">Transparency</p>
        <a href="/mp-attendance/" class="dropdown-link is--info-link w-inline-block">
          <p>Attendance of meetings</p>
        </a>
        <div class="dropdown-link__wrapper text-wrapper">
          <div>
            <a href="/interests/" class="dropdown-link is--info-link w-inline-block">
              <p>Members' interests</p>
            </a>
          </div>
          <div>
            <a href="#" class="dropdown-link__info w-inline-block">
              <div class="svg-icon w-embed" data-toggle="tooltip" data-placement="top"
                title="Gifts and other potential influence on MP decisions">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas"
                  data-icon="info-circle" class="svg-inline--fa fa-info-circle fa-w-16" role="img"
                  viewBox="0 0 512 512">
                  <path fill="currentColor"
                    d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z">
                  </path>
                </svg>
              </div>
            </a>
          </div>
        </div>
        <div class="dropdown-link__wrapper text-wrapper">
          <div>
            <a target="_blank" href="https://pmg.org.za/page/code-of-ethical-conduct"
              class="dropdown-link is--info-link w-inline-block">
              <p>Code of conduct</p>
            </a>
          </div>
          <div>
            <a href="#" class="dropdown-link__info w-inline-block">
              <div class="svg-icon w-embed svg-small">
                <img src="{% static 'images/navbar/external-link-alt-solid.svg' %}" loading="lazy"
                  alt="pmg external link icon" class="nav__logo-img">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dropdown">
  <a class="subnav-link w-inline-block">
    <div class="nav-link__inner">
      <p class="nav-link__text">Civic Education</p>
      <p class="nav-link__description">
        Learn more about governance in South Africa and your representatives
      </p>
    </div>
    <div class="nav-link__icon">
      <div class="svg-icon is--small w-embed">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas"
          data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-w-10" role="img" viewBox="0 0 320 512">
          <path fill="currentColor"
            d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z">
          </path>
        </svg>
      </div>
    </div>
    <div class="nav-link__bg" style="background-color: rgba(255, 255, 255, 0);"></div>
  </a>
  <div class="dropdown-content-nav">
    <div class="container is--dropdown">
      <div class="dropdown-col is--feature is--hidden-mobile">
        <div class="dropdown__feature-block">
          <p class="dropdown__feature-text">
            Learn more about governance in South Africa and your representatives
          </p>
        </div>
      </div>
      <div class="dropdown-col is--1">
        <p class="dropdown-heading">From our blog</p>
        <a href="/info/infographics" class="dropdown-link w-inline-block">
          <p>Infographics</p>
        </a>
        <a href="/blog/" class="dropdown-link w-inline-block">
          <p>All articles</p>
        </a>
      </div>
      <div class="dropdown-col">
        <p class="dropdown-heading">Understanding government</p>
        <div class="dropdown-link__wrapper text-wrapper">
          <div>
            <a target="_blank" href="https://pmg.org.za/page/central-tenets" class="dropdown-link w-inline-block">
              <p>Central Tenets of Government</p>
            </a>
          </div>
          <div>
            <a href="#" class="dropdown-link__info w-inline-block">
              <div class="svg-icon w-embed svg-small">
                <img src="{% static 'images/navbar/external-link-alt-solid.svg' %}" loading="lazy"
                  alt="pmg external link icon" class="nav__logo-img">
              </div>
            </a>
          </div>
        </div>
        <div class="dropdown-link__wrapper text-wrapper">
          <div>
            <a target="_blank" href="https://pmg.org.za/page/structure-of-government"
              class="dropdown-link w-inline-block">
              <p>Structure of Government</p>
            </a>
          </div>
          <div>
            <a href="#" class="dropdown-link__info w-inline-block">
              <div class="svg-icon w-embed svg-small">
                <img src="{% static 'images/navbar/external-link-alt-solid.svg' %}" loading="lazy"
                  alt="pmg external link icon" class="nav__logo-img">
              </div>
            </a>
          </div>
        </div>
        <div class="dropdown-link__wrapper text-wrapper">
          <div>
            <a target="_blank" href="https://pmg.org.za/page/legislative-process" class="dropdown-link w-inline-block">
              <p>The Legislative Process</p>
            </a>
          </div>
          <div>
            <a href="#" class="dropdown-link__info w-inline-block">
              <div class="svg-icon w-embed svg-small">
                <img src="{% static 'images/navbar/external-link-alt-solid.svg' %}" loading="lazy"
                  alt="pmg external link icon" class="nav__logo-img">
              </div>
            </a>
          </div>
        </div>
        <div class="dropdown-link__wrapper text-wrapper">
          <div>
            <a target="_blank" href="https://pmg.org.za/page/state-institutions-supporting-democracy"
              class="dropdown-link w-inline-block">
              <p>State Institutions Supporting Democracy</p>
            </a>
          </div>
          <div>
            <a href="#" class="dropdown-link__info w-inline-block">
              <div class="svg-icon w-embed svg-small">
                <img src="{% static 'images/navbar/external-link-alt-solid.svg' %}" loading="lazy"
                  alt="pmg external link icon" class="nav__logo-img">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dropdown">
  <a class="subnav-link w-inline-block">
    <div class="nav-link__inner">
      <p class="nav-link__text">Take action</p>
      <p class="nav-link__description">
        Find the actions you can take to participate in governance
      </p>
    </div>
    <div class="nav-link__icon">
      <div class="svg-icon is--small w-embed">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas"
          data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-w-10" role="img" viewBox="0 0 320 512">
          <path fill="currentColor"
            d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z">
          </path>
        </svg>
      </div>
    </div>
    <div class="nav-link__bg" style="background-color: rgba(255, 255, 255, 0);"></div>
  </a>
  <div class="dropdown-content-nav">
    <div class="container is--dropdown">
      <div class="dropdown-col is--feature is--hidden-mobile">
        <div class="dropdown__feature-block">
          <p class="dropdown__feature-text">
            Find the actions you can take to participate in governance
          </p>
        </div>
      </div>
      <div class="dropdown-col is--1">
        <p class="dropdown-heading">Have Your Say</p>
        <a href="/write/recipients/" class="dropdown-link w-inline-block">
          <p>Write to an MP</p>
        </a>
        <a href="/write-committees/recipients/" class="dropdown-link w-inline-block">
          <p>Write to a Committee</p>
        </a>
      </div>
      <div class="dropdown-col">
        <p class="dropdown-heading">Get involved</p>
        <a href="/info/petitions" class="dropdown-link w-inline-block">
          <p>Petitions</p>
        </a>
        <a href="/info/constituency-offices" class="dropdown-link w-inline-block">
          <p>Visit Constituency Offices</p>
        </a>
        <a href="/info/attending-and-observing-parliament" class="dropdown-link w-inline-block">
          <p>Attending and observing parliament</p>
        </a>
        <a href="/info/calls-for-comment" class="dropdown-link w-inline-block">
          <p>Participating in calls for comment</p>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="nav-links is--subnav">
  <a href="/info/about" class="nav-link w-inline-block">
    <p class="nav-link__text">About</p>
  </a>
  <a href="/info/contact-us" class="nav-link w-inline-block">
    <p class="nav-link__text">Contact</p>
  </a>
  <div class="nav-social is--subnav">
    <a href="https://www.facebook.com/peoplesassemblysa" class="nav-link is--social w-inline-block">
      <div class="svg-icon is--social w-embed">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fab"
          data-icon="facebook" class="svg-inline--fa fa-facebook fa-w-16" role="img" viewBox="0 0 512 512">
          <path fill="currentColor"
            d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z">
          </path>
        </svg>
      </div>
    </a>
    <a href="https://twitter.com/PeoplesAssem_SA" class="nav-link is--social w-inline-block">
      <div class="svg-icon is--social w-embed">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fab"
          data-icon="twitter" class="svg-inline--fa fa-twitter fa-w-16" role="img" viewBox="0 0 512 512">
          <path fill="currentColor"
            d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
          </path>
        </svg>
      </div>
    </a>
    <a href="https://www.instagram.com/peoplesassemblysa/" class="nav-link is--social w-inline-block">
      <div class="svg-icon is--social w-embed">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fab"
          data-icon="instagram" class="svg-inline--fa fa-instagram fa-w-14" role="img" viewBox="0 0 448 512">
          <path fill="currentColor"
            d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
          </path>
        </svg>
      </div>
    </a>
  </div>
</div>
