{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
    {% include "disqus_javascript.html" %}
    <div class="webf-container">
      <div class="mp-profile">
        <div class="mp-info">
          {% block object_title %}
            <h1 class="mp-name">{{ object.title }} {{ object.name }}</h1>
          {% endblock %}
          {% block object_tagline %}
          {% endblock %}
        </div>
        {% if object.primary_image %}
          {% thumbnail object.primary_image "100x100" crop="center" as sm %}
            <img src="{{ sm.url }}" class="mp-image"
          {% endthumbnail %}
          {% thumbnail object.primary_image "210x210" crop="center" as lg %}
              srcset="{{ lg.url }} 640w"
          {% endthumbnail %}
        {% else %}
          <img src="{{STATIC_URL}}images/{{object.css_class}}-210x210.jpg" class="mp-image"
              srcset="{{STATIC_URL}}images/{{object.css_class}}-210x210.jpg"
        {% endif %}
          alt="{{ object.name }}">
      </div>

      {% block socials %}
      {% endblock %}
    </div>

    <!-- about -->
    <div>
      <h2 class="mp-subheading">About {{ object.name }}</h2>
      {% if person.date_of_death %}
        <div class="mp-deceased">
          <p>Died {{ person.date_of_death }}</p>
        </div>
      {% endif %}
      <div class="mp-col is--full">
        <div class="mp-block is--underlined">
          <p>
            {{ person.summary }}
          </p>
        </div>
      </div>
    </div>

    <div>
      {% block subcontent %}
        You should add your own custom content to this layout in a 'subcontent' block.
      {% endblock %}
    </div>
{% endblock %}


{% block extra_attribution %}
  {# If the object has a summary it may have come from Wikipedia. Display the attribution. #}
  {% if object.summary %}
    {% include 'wikipedia_attribution.html' %}
  {% endif %}
  {# Display any attribution for candidate data #}
  {% include 'candidate_data_attribution.html' %}
{% endblock %}
