{% extends 'base.html' %}

{% load pipeline %}

{% block title %}Download Members Data{% endblock %}

{% block body_attributes %} class="download-data" {% endblock %}

{% block content %}
<div>
    <div class="wrapper">
        <h1>Download Members Data</h1>
    </div>
</div>

<form action="{% url 'sa-download-members-index' %}" method="get">
  <h3>Filter members data by:</h3>
  <div class="filter-option">
    <label for="house">House:</label>
    <select name="house" id="house">
      {% for house in houses %}
      <option value="{{ house.slug }}" {% if selected_house == house.slug %} selected="selected" {% endif %}>
        {{ house.name }}
      </option>
      {% endfor %}
    </select>
  </div>

  <input type="submit" value="Download" class="button">
</form>

{% endblock %}
