{% load staticfiles %}
{% load thumbnail %}


<!-- PERSON -->
<li class="search-result">
    <div class="row">
      <div class="col-auto">
        {% thumbnail object.primary_image "90x90" crop="center" as im %}
            <div class="search-image-thumbnail" style="background-image: url({{ im.url }})">
                <a href="{{ object.get_absolute_url }}"></a>
            </div>
        {% empty %}
            <div class="search-image-thumbnail" style="background-image: url({% static 'images/person-90x90.jpg' %})">
                <a href="{{ object.get_absolute_url }}"></a>
            </div>
        {% endthumbnail %}
      </div>
      <div class="col">
        <div class="listing-content">
          <span class="search-result-type search-result-type-person">Person</span>
          <h3><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h3>
          <div class="listing-excerpt my-3">
            {% with pos_set=object.position_set.all.currently_active %}
                <p>

                {% for position in pos_set|slice:":4" %}
                    <strong>{{ position.title.name }}</strong>
                    {% if position.organisation.name %}
                    of {{ position.organisation.name }};
                    {% endif %}
                {% empty %}
                    No currently active positions found.
                {% endfor %}

                {% with remaining=pos_set.count|add:'-4' %}
                    {% if remaining > 0 %}
                    and {{ remaining }} more&hellip;
                    {% endif %}
                {% endwith %}

                </p>
            {% endwith %}
          </div>
          
        </div>
      </div>
    </div>
</li>