{% load get_from_key %}
{% load random_numbers %}
<div class="blog-list-category mb-5">

  <div class="row">

    <div class="col-12 col-md-6 col-lg-12">  

      <div class="category-header category-is--recent-updates mb-4">
        Recent {% if category %}&ldquo;{{ category.name }}&rdquo;{% endif %} Stories
      </div>
      {% for post in recent_posts|slice:":5" %}
        {% include "info/_blog_sidebar_story.html" %}
      {% empty %}
        <div>There are no recent posts{% if category %} in &ldquo;{{ category.name }}&rdquo;{% endif %}.</div>
      {% endfor %}

    </div>

    {% if some_popular_posts %}
    <div class="col-12 col-md-6 col-lg-12">

      <div class="blog-list-category mb-5">

        <div class="category-header category-is--popular-stories mb-4">
          Popular {% if category %}&ldquo;{{ category.name }}&rdquo;{% endif %} Stories
        </div>

        {% for post in popular_recent_posts|slice:":5" %}
          {% include "info/_blog_sidebar_story.html" %}
        {% empty %}
            <div>There are no recent posts{% if category %} in &ldquo;{{ category.name }}&rdquo;{% endif %}.</div>
        {% endfor %}

      </div>

    </div>
    {% endif %}

  </div>

</div>