{% extends "base.html" %}

{% block title %}WriteInPublic messages to {{ person.name }}{% endblock %}

{% block content %}
<div class="js-person-messages-all">
  <div class="row">
    {% for message in messages %}
    <div class="col-6 mb-3">
      <div class="card">
        <div class="card-body">
          <p class="lead">
            <a href="{% url 'writeinpublic:writeinpublic-message' message_id=message.id %}">
              {{ message.subject }}
            </a>
          </p>
          <p>
            <small>{{ message.created_at|date:"d M Y" }}</small>
          </p>
          <p>
            {{ message.content|truncatewords:30 }}
            <a href="{% url 'writeinpublic:writeinpublic-message' message_id=message.id %}">
              (Read more)
            </a>
          </p>
        </div>
      </div>
    </div>
    {% empty %}
      <p>Nothing here!</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
