<div class="info__expand" style="margin-bottom: 1em;">
    <a data-w-id="00a4eab4-5de1-0aa7-1f64-345242470e01" class="info-expand__trigger w-inline-block"
        data-toggle="collapse" href="#exemplary-messages" aria-expanded="false">
        <div class="info-expand__icon">
            <div class="svg-icon is--large w-embed"><svg xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info-circle"
                    class="svg-inline--fa fa-info-circle fa-w-16" role="img" viewbox="0 0 512 512">
                    <path fill="currentColor"
                        d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z">
                    </path>
                </svg></div>
        </div>
        <p class="info-expand__text">See examples of well written messages</p>
        <div class="info-expand__arrow">
            <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)"
                class="svg-icon is--arrow-toggle w-embed"><svg xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down"
                    class="svg-inline--fa fa-chevron-down fa-w-14" role="img" viewbox="0 0 448 512">
                    <path fill="currentColor"
                        d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z">
                    </path>
                </svg></div>
        </div>
    </a>
    <div class="collapse info-expand__content" id="exemplary-messages">
        <div class="example-messages">
            <div class="example-message__wrapper">
                <div class="example-message__modal modal fade" id="message1" tabindex="-1"
                    role="dialog" aria-labelledby="message1Label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="container">
                            <div class="custom-modal">
                                <div class="modal__header">
                                    <h1 class="modal-title">Example letter</h1>
                                    <a href="#" class="modal__close is--button w-inline-block">
                                        <div class="svg-icon w-embed"><svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                aria-hidden="true" focusable="false"
                                                data-prefix="fas" data-icon="times"
                                                class="svg-inline--fa fa-times fa-w-11" role="img"
                                                viewbox="0 0 352 512">
                                                <path fill="currentColor"
                                                    d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z">
                                                </path>
                                            </svg></div>
                                    </a>
                                </div>
                                <div class="modal__message w-richtext">
                                    <p>Dear Michele,</p>
                                    <p>
                                        Thank you very much for your question to the minister
                                        regarding unqualified government officials. I must say that
                                        the reaction in the media shows that this problem is of
                                        national importance and that it is not a new phenomenon. I
                                        was wondering if you could also ask how many unqualified
                                        officials or cadres are employed in state-owned enterprises?
                                        I worked for more than ten years at the CSIR and have seen
                                        how cadres with qualifications are employed by the council
                                        who are incompetent in research and innovation. Said
                                        differently, they are often appointed as managers, but since
                                        they have either no or only a rudimentary knowledge of
                                        research and innovation processes, their decisions often
                                        leads to misallocation of research funding, the development
                                        of already existing research projects (in other words, they
                                        copy-cat initiatives and then describe these as ground
                                        breaking) or don't do enough oversight of projects and so
                                        much so that research projects often run at a loss. These
                                        losses can be in the millions depending on the size of the
                                        project and often involve Parliamentary Grant funding.
                                    </p>
                                    <p>Kind regards,<br>Prof. Richard Meissner</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="example-message w-inline-block" data-toggle="modal"
                    data-target="#message1">
                    <p class="example-message__title">Dear Michele,</p>
                    <p class="example-message__text">Thank you very much for your question to the
                        minister regarding unqualified government officials. I must say that the
                        reaction in the media shows that this problem is of national importance and
                        that...</p>
                    <p class="example-message__see-more">Click to see this entire message</p>
                </a>
            </div>
            <div class="example-message__wrapper">
                <div class="example-message__modal modal fade" id="message2" tabindex="-1"
                    role="dialog" aria-labelledby="message2Label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="container">
                            <div class="custom-modal">
                                <div class="modal__header">
                                    <h1 class="modal-title">Example letter</h1>
                                    <a href="#" class="modal__close is--button w-inline-block">
                                        <div class="svg-icon w-embed"><svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                aria-hidden="true" focusable="false"
                                                data-prefix="fas" data-icon="times"
                                                class="svg-inline--fa fa-times fa-w-11" role="img"
                                                viewbox="0 0 352 512">
                                                <path fill="currentColor"
                                                    d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z">
                                                </path>
                                            </svg></div>
                                    </a>
                                </div>
                                <div class="modal__message w-richtext">
                                    <p>Dear Mr Mogamad,</p>
                                    <p>
                                        My grandson Nur Niaz 5 yrs old was refused a right to
                                        education because Home Affairs is taking 3 years to issue
                                        him a birth certificate. I went with my daughter to Cape
                                        Town and Bellville on several occasions for the past 3
                                        years. Must this innocent child make a living on the street
                                        by selling stuff when he grows up or should he be educated
                                        as any other child. Please help Nur Niaz to get a birth
                                        certificate.
                                    </p>
                                    <p>Warmly,<br>Abdul</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="example-message w-inline-block" data-toggle="modal"
                    data-target="#message2">
                    <p class="example-message__title">Dear Mr Mogamad</p>
                    <p class="example-message__text">My grandson Nur Niaz 5 yrs old was refused a
                        right to education because Home Affairs is taking 3 years to issue him a
                        birth certificate. I went with my daughter to Cape Town and Bellville on
                        several...</p>
                    <p class="example-message__see-more">Click to see this entire message</p>
                </a>
            </div>
        </div>
    </div>
</div>
