<div class="write-main__wrapper-tools">
    <a id="show-message-tools-toggle" data-w-id="6e2f74f3-e9b2-1089-7eea-0ea37bbeb241" href="#"
        class="show-message-tools w-inline-block">
        <div class="info-expand__icon">
            <div class="svg-icon is--large w-embed"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                    focusable="false" data-prefix="fas" data-icon="info-circle"
                    class="svg-inline--fa fa-info-circle fa-w-16" role="img" viewBox="0 0 512 512">
                    <path fill="currentColor"
                        d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z">
                    </path>
                </svg></div>
        </div>
        <p>Show 6 tips for writing a message</p>
        <div class="info-expand__arrow">
            {% include "writeinpublic/svg-icon.html" %}
        </div>
    </a>
    <div class="wrapper-tools__message-tips" id="message-tips-container">
        <div class="wrapper-tools__message tips-title">Tips for writing your message:</div>
        <div class="info__expand">
            <a data-w-id="f100b020-c9d6-942c-9ffa-bd109414baab" class="info-expand__trigger" data-toggle="collapse"
                href="#tip1" aria-expanded="false">
                <div class="info-expand__icon is--number">
                    <div>1.</div>
                </div>
                <p class="info-expand__text">Be polite</p>
                <div class="info-expand__arrow">
                    {% include "writeinpublic/svg-icon.html" %}
                </div>
            </a>
            <div class="info-expand__content collapse" id="tip1">
                <div class="info-expand__inner">
                    <p class="info-expand__content_text">You are unlikely to get a response if you are rude to your
                        public
                        representative. Even if you are angry or disappointed, try to explain your issue without being
                        rude or
                        disrespectful.</p>
                </div>
            </div>
        </div>
        <div class="info__expand">
            <a data-w-id="703dab6e-7598-23b1-b05d-05933a5d2f01" class="info-expand__trigger" data-toggle="collapse"
                href="#tip2" aria-expanded="false">
                <div class="info-expand__icon is--number">
                    <div>2.</div>
                </div>
                <p class="info-expand__text">Be concise</p>
                <div class="info-expand__arrow">
                    {% include "writeinpublic/svg-icon.html" %}
                </div>
            </a>
            <div class="info-expand__content collapse" id="tip2">
                <div class="info-expand__inner">
                    <p class="info-expand__content_text">Get straight to the point and only include relevant
                        information.
                    </p>
                </div>
            </div>
        </div>
        <div class="info__expand">
            <a data-w-id="c12b5bd6-8714-7685-ad5b-11b5e07a53e2" class="info-expand__trigger" data-toggle="collapse"
                href="#tip3" aria-expanded="false">
                <div class="info-expand__icon is--number">
                    <div>3.</div>
                </div>
                <p class="info-expand__text">Be accurate</p>
                <div class="info-expand__arrow">
                    {% include "writeinpublic/svg-icon.html" %}
                </div>
            </a>
            <div class="info-expand__content collapse" id="tip3">
                <div class="info-expand__inner">
                    <p class="info-expand__content_text">Try to gather evidence and information so that your submission
                        is
                        as clear and accurate as possible.</p>
                </div>
            </div>
        </div>
        <div class="info__expand">
            <a data-w-id="ea5004fd-451f-2b99-ca7f-2a81896ca997" class="info-expand__trigger" data-toggle="collapse"
                href="#tip4" aria-expanded="false">
                <div class="info-expand__icon is--number">
                    <div>4.</div>
                </div>
                <p class="info-expand__text">Explain what you want</p>
                <div class="info-expand__arrow">
                    {% include "writeinpublic/svg-icon.html" %}
                </div>
            </a>
            <div class="info-expand__content collapse" id="tip4">
                <div class="info-expand__inner">
                    <p class="info-expand__content_text">If you want your public representative to do something, then
                        say
                        so! It is important to include a clear ask or suggested course of action. <br></p>
                </div>
            </div>
        </div>
        <div class="info__expand">
            <a data-w-id="1d833e47-c859-a83e-f7f5-91c61ac0e081" class="info-expand__trigger" data-toggle="collapse"
                href="#tip5" aria-expanded="false">
                <div class="info-expand__icon is--number">
                    <div>5.</div>
                </div>
                <p class="info-expand__text">Include the area you live</p>
                <div class="info-expand__arrow">
                    {% include "writeinpublic/svg-icon.html" %}
                </div>
            </a>
            <div class="info-expand__content collapse" id="tip5">
                <div class="info-expand__inner">
                    <p class="info-expand__content_text">This might seem obvious, but it is very important to include
                        both
                        your contact details and the area that you live in when writing to a public representative.
                        Including
                        your contact details makes it easier to respond and follow up, and including your area will make
                        it
                        easier for the representative to know if and how they can help you.</p>
                </div>
            </div>
        </div>
        <div class="info__expand">
            <a data-w-id="b97d2ea6-2968-905d-07df-a7da00aa833f" class="info-expand__trigger" data-toggle="collapse"
                href="#tip6" aria-expanded="false">
                <div class="info-expand__icon is--number">
                    <div>6.</div>
                </div>
                <p class="info-expand__text">Include all relevant information</p>
                <div class="info-expand__arrow">
                    {% include "writeinpublic/svg-icon.html" %}
                </div>
            </a>
            <div class="info-expand__content collapse" id="tip6">
                <div class="info-expand__inner">
                    <p class="info-expand__content_text">Your correspondence is more likely to be successful if your
                        public
                        representative properly understands what you are concerned about. Being specific, and providing
                        details like names and dates is important.</p>
                </div>
            </div>
        </div>
    </div>
</div>
