{% extends "base.html" %}

{% block title %}WriteInPublic messages to {{ committee.name }}{% endblock %}

{% block content %}

<h2>Messages sent to {{ committee.name }}</h2>
{% for hist in committee.org_history_old.all %}
  <span class="committee-history">
      {{ hist.date_changed|date:"d M Y" }} | Became:
     <a href="{{ hist.new_organisation.get_absolute_url }}">
        {{ hist.new_organisation.name }}
     </a>
  </span>
{% endfor %}
{% for hist in committee.org_history_new.all %}
  <span class="committee-history">
      {{ hist.date_changed|date:"d M Y" }} | Formerly:
     <a href="{{ hist.old_organisation.get_absolute_url }}">
        {{ hist.old_organisation.name }}
     </a>
  </span>
{% endfor %}
  <ul class="list-of-committee-messages">
  {% for message in messages %}
    <li class="list-of-committee-messages__item">
        <h3>
            <a href="{% url 'writeinpublic-committees:writeinpublic-message' message_id=message.id %}">{{ message.subject }}</a>
            &ndash; <small>{{ message.created_at|date:"d M Y" }}</small>
        </h3>
        <p>
            {{ message.content|truncatewords:30 }}
            <a href="{% url 'writeinpublic-committees:writeinpublic-message' message_id=message.id %}" class="list-of-committee-messages__item__read-link">Read message</a>
        </p>
        
      </li>
  {% empty %}
    <p>No messages have been sent to {{ committee.name }}.</p>
  {% endfor %}
  </ul>
  {% if committee.contactable_committee %}
    <p>
      <a href="{% url 'writeinpublic-committees:writeinpublic-new-message-step' step='recipients' %}?person_id={{ committee.pk }}">Write a new public message</a>
    </p>
  {% endif %}
{% endblock %}
